# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Conda / pip / venv
.env
.venv/
env/
*.yaml.lock

# VSCode / PyCharm
.vscode/
.idea/

# Mac / Linux trash
.DS_Store
Thumbs.db

# Project Backup toml's 
backup*

ignoreme/